# <font color=#3447C1 size=6> RELATÓRIO DE ANÁLISE DE DADOS </font>
    
# <font color=#939497 size=5> Dermatologia hospitalar, análise do perfil das consultorias dermatológicas </font>
    
 ***

# <font color=#3447C1 size=5> 1 CONHECENDO OS DADOS </font>
***

Os dados tratados a analisados neste relatórios são referentes a pesquisa realizada no artigo <b>Dermatologia hospitalar: análise do perfil das consultorias hospitalares em hospital terciário no sul do Brasil</b>, dos autores MSc Iago Gonçalves Ferreira, MS Camila Saraiva Almeida, MS Lucas Abascal Bulcão, BSCE Diego Gonçalves Ferreira, PhD Renan Rangel Bonamigo, PhD Magda Blessmann Weber.
***

### Sobre o estudo

"As doenças de pele apresentam elevada prevalência no cenário hospitalar, representando importantes fatores de risco de morbimortalidade e de impacto nos custos hospitalares. Nessa perspectiva, a Dermatologia pode propiciar notáveis contribuições à assistência hospitalar, auxiliando as demais especialidades médicas no manejo clínico adequado das afecções dermatológicas. À vista disso, este estudo teve como objetivo <b> analisar o perfil das requisições e consultorias realizadas pelo serviço de Dermatologia em complexo hospitalar terciário no sul do Brasil.</b>"

"o estudo caracteriza-se como descritivo, observacional, e retrospectivo, sendo conduzido por meio de levantamento de dados e revisão de prontuários acerca das consultorias realizadas por serviço de Dermatologia, no período de <b>agosto de 2018 a janeiro de 2020</b>. As variáveis incluídas foram procedência das requisições, dados clínicos e hipótese diagnóstica das solicitações, perfil dos pacientes hospitalizados, diagnósticos dermatológicos finais, exames complementares, condutas terapêuticas e acompanhamento recomendado pelas equipes de consultoria dermatológica."

"Conclusão: 
Por meio deste estudo, demonstra-se a ampla gama de afecções dermatológicas prevalentes entre pacientes hospitalizados, enfatizando a importância da Dermatologia no diagnóstico e manejo clínico dessas condições, de forma a aperfeiçoar a assistência médica hospitalar. Além disso, destaca-se o benefício educacional, visto que a Dermatologia tem o potencial de contribuir com a formação de estudantes de medicina, médicos residentes de dermatologia e de outras especialidades."
***

### Variáveis utilizadas na análise

> ### Status da consultoria
> ***

|Código|Status|
|---|---|
|1|Realizada|
|2|Duplicada|
|3|Suspensa|

> ### CID (Classificação Internacional de Doenças)
> ***

Doenças diagnosticadas nas consultorias.

> ### Idade
> ***

Idade exata do paciente na data de referência em anos.

> ### Faixa etária
> ***

Classificação das idades dos pacientes por faixas de idade.

|Faixa etária|
|---|
|0 - 1|
|2 - 12|
|13 - 18|
|19 - 25|
|26 - 35|
|36 - 45|
|46 - 55|
|56 - 65|
|66 - 85|
|> 85|

> ### Hospital
> ***

Hospitais de onde os dados foram coletados.

|Código|Hospital|
|---|---|
|1|Hospital Santa Clara|
|2|Hospital São Francisco|
|3|Hospital São José|
|4|Pavilhão Pereira Filho|
|5|Hospital Santa Rita|
|6|Hospital da Criança Santo Antônio|
|7|Hospital Dom Vicente Scherer|

> ### Classe de Hospital
> ***

Classificação dos hospitais de acordo com a sua finalidade, realizada pelo próprio artigo.

|Código|Classe|
|---|---|
|1|Hospitais Clínicos Adulto|
|2|Hospital Pediátrico|
|3|Hospital Ginecológico|

***

### Importando as bibliotecas Pandas, Seaborn e Numpy

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
pd.options.mode.chained_assignment = None

### Importando a base de dados

In [3]:
dados_base = pd.read_excel('Planilha SPSS.xlsx', sheet_name='Planilha SPSS', index_col=False)

***

# <font color=#3447C1 size=5> 2 TRATAMENTO DE DADOS </font>
***

### Aplicando o filtro de CIDs válidos para contagem.
> Alguns CIDS do dataset são inválidos ou considerados inexistentes, sendo necessária a aplicação de um filtro para remove-los.

In [4]:
selecao = (dados_base['CID 1'] == '99') | (dados_base['CID 1'] == '0')
dados = dados_base[~selecao]

***

### Aplicando o filtro de consultorias realizadas.
> Para fins de análise, requisições de consultoria duplicadas e suspensas não serão contabilizadas e, portanto, foram removidas do dataset.

In [5]:
selecao = (dados_base['Status da consultoria'] == 2) | (dados_base['Status da consultoria'] == 3)
dados = dados_base[~selecao]

***

### Ajustando variável idade para tipo inteiro
> Foi verificado que os pacientes com menos de um ano estavam registrados com strings na variável idade. Para ajustar isso, alterou-se os registros para idade de 0 (zero) anos, uniformizando o tipo da variável.

In [6]:
dados['Idade (anos)'] = dados['Idade (anos)'].replace('<1 ano', 0)
dados['Idade (anos)'] = dados['Idade (anos)'].replace('< 1 ano', 0)

In [7]:
dados['Idade (anos)'] = pd.to_numeric(dados['Idade (anos)']).astype(int)

***

### Formatação dos CIDs
> Alguns registros de CID estavam fora do padrão de formatação, sendo necessário realizar sua alteração. Além disso, para fins de categorização, foi determinado que constassem apenas os dois primeiros dígitos dos respectivos CIDs.

In [8]:
dados['CID 1'].replace('L.27', 'L27', inplace = True)
dados['CID 1'].replace('L.40', 'L40', inplace = True)
dados['CID 1'].replace('suspenso', 'IND', inplace = True)
dados['CID 1'].replace('0', 'IND', inplace = True)
dados['CID 1'].fillna('IND', inplace= True)

In [9]:
dados['CID 1'] = dados['CID 1'].str[:3]
dados['CID 2'] = dados['CID 2'].str[:3]
dados['CID 3'] = dados['CID 3'].str[:3]

In [10]:
dados.to_excel('Planilha_tratada.xlsx')

***

# <font color=#3447C1 size=5> 3 FREQUÊNCIA GERAL DE CIDs </font>
***

### Criação de tabela frequência com todos os CIDs conferidos em cada diagnóstico
> Para que fosse possível analisar as doenças em sua generalidade, foi preciso contabilizar cada CID registrado em cada diagnóstico. Para isso foi criada uma nova tabela contendo somente as informações dos CIDs registrados no dataset, inpendente da consultoria a qual estava ligado.

Obs: Para gerar uma tabela frequência apenas com CIDs válidos, excluiu-se da contagem os CIDs indefinidos.

In [11]:
diagnosticos = pd.concat([dados['CID 1'], dados['CID 2'], dados['CID 3']], ignore_index=True)
cids = diagnosticos.copy()

In [12]:
diagnosticos = diagnosticos.value_counts().sort_values(ascending=False).to_frame()
diagnosticos.reset_index(inplace=True)
diagnosticos.rename(columns={'index':'CID', 0:'Frequência'}, inplace=True)

In [13]:
diagnosticos.drop(index=14, inplace=True)
diagnosticos.index = range(1, diagnosticos.shape[0]+1)

In [14]:
diagnosticos['(%)'] = ((diagnosticos['Frequência'] / diagnosticos['Frequência'].sum()) * 100).round(2)

In [15]:
diagnosticos.head(5)

   CID  Frequência   (%)
1  L27          72  9.90
2  L30          48  6.60
3  B00          38  5.23
4  L20          34  4.68
5  B86          28  3.85

### Tabela dos 15 CIDs mais frequentes
> Utilizando a tabela acima como base, criou-se uma tabela derivada somente com os 15 primeiros CIDs.

In [16]:
diagnosticos_top15 = diagnosticos.head(15)
dicionario = {'L27':'Dermatite devida a substâncias de uso interno',
           'L30':'Outras dermatites',
           'B00':'Infecções pelo vírus do herpes', 
           'L20':'Dermatite atópica',
           'B86':'Escabiose (sarna)',
           'L21':'Dermatite seborréica',
           'B35':'Dermatofitose',
           'L01':'Impetigo',
           'L40':'Psoríase',
           'C44':'Outras neoplasias malignas da pele',
           'L24':'Dermatites de contato por irritantes', 
           'B37':'Candidiase', 
           'L29':'Prurido',
           'L70':' Acne',
           'L85':' Outras formas de espessamento epidérmico'}
diagnosticos_top15['Nome'] = diagnosticos_top15['CID'].map(dicionario)
diagnosticos_top15 = diagnosticos_top15[['CID', 'Nome', 'Frequência', '(%)']]
diagnosticos_top15

    CID                                           Nome  Frequência   (%)
1   L27  Dermatite devida a substâncias de uso interno          72  9.90
2   L30                              Outras dermatites          48  6.60
3   B00                 Infecções pelo vírus do herpes          38  5.23
4   L20                              Dermatite atópica          34  4.68
5   B86                              Escabiose (sarna)          28  3.85
6   L21                           Dermatite seborréica          26  3.58
7   B35                                  Dermatofitose          26  3.58
8   L01                                       Impetigo          25  3.44
9   L40                                       Psoríase          23  3.16
10  L24           Dermatites de contato por irritantes          21  2.89
11  C44             Outras neoplasias malignas da pele          21  2.89
12  B37                                     Candidiase          19  2.61
13  L29                                        Prurido          15  2.06
14  L70                                           Acne          14  1.93
15  L85       Outras formas de espessamento epidérmico          12  1.65

In [17]:
diagnosticos_top15.to_excel('Diagnósticos Top15.xlsx')

***

# <font color=#3447C1 size=5> 4 FREQUÊNCIA DE CIDs POR CLASSE DE HOSPITAL </font>
***

### Criando funções

In [18]:
cid_por_variavel = []
def tabela_variavel(variavel):

    global cid_por_variavel
    
# Criando variáveis que recebem a variável a ser analisada
    hcid1 = dados[[f'CID 1', f'{variavel}']]
    hcid1.rename(columns= {'CID 1':'CID'}, inplace=True)
    hcid2 = dados[['CID 2', f'{variavel}']]
    hcid2.rename(columns= {'CID 2':'CID'}, inplace=True)
    hcid3 = dados[['CID 3', f'{variavel}']]
    hcid3.rename(columns= {'CID 3':'CID'}, inplace=True)

# Concatenando as variáveis em um só DataFrame    
    cid_por_variavel = pd.concat([hcid1, hcid2, hcid3], ignore_index=True)

# Retirada de valores nulos
    cid_por_variavel.dropna(inplace=True)

# Retirada dos CIDs indefinidos
    selecao = cid_por_variavel['CID'] == 'IND'
    cid_por_variavel = cid_por_variavel[~selecao]

# Tratamento final do DataFrame
    cid_por_variavel = cid_por_variavel[['CID', f'{variavel}']].value_counts().reset_index()
    cid_por_variavel.rename(columns={0:'Frequência'}, inplace=True)

In [19]:
def tabela_top5_por_variavel(variavel):

    global cid_por_variavel
    
# Criando coluna de porcentagem relativa a variável
    porcentagem_relativa = []
    for x in range(cid_por_variavel.shape[0]):
        y = cid_por_variavel.loc[x][1]
        n = ((cid_por_variavel.loc[x][2] / cid_por_variavel[cid_por_variavel[f'{variavel}'] == y]['Frequência'].sum()) * 100).round(2)
        porcentagem_relativa.append(n)  

    cid_por_variavel['% Relativa'] = porcentagem_relativa
    
# Criando coluna de porcentagem geral
    porcentagem_geral = []
    for x in range(cid_por_variavel.shape[0]):
        y = cid_por_variavel.loc[x][1]
        n = ((cid_por_variavel.loc[x][2] / cid_por_variavel['Frequência'].sum()) * 100).round(2)
        porcentagem_geral.append(n)
    
    cid_por_variavel['% Geral'] = porcentagem_geral

# Criação do DataFrame final
    global tabela_final_top5
    tabela_final_top5 = pd.DataFrame()
    for x in cid_por_variavel[f'{variavel}'].unique():
        n = cid_por_variavel[cid_por_variavel[f'{variavel}'] == x].head()
        tabela_final_top5 = tabela_final_top5.append(n)
        
    tabela_final_top5 = tabela_final_top5[[f'{variavel}', 'CID', 'Frequência', '% Relativa', '% Geral']]

### Classes dos Hospitais
> Para maior relevância do estudo, foi determinado que os hospitais fossem classificados de acordo com a sua finalidade. Desta forma, criou-se a coluna "Classe Hospital" para armazenar esses novos registros.

In [20]:
dicionario_classe_hospital = {1:1, 2:1, 4:1, 7:1, 3:1, 6:2, 5:3}
dicionario_classe_hospital2 = {1:'Hospitais Clínicos Adulto', 2:'Hospital Pediátrico', 3:'Hospital Ginecológico'}

In [21]:
dados['Classe Hospital'] = dados['Hospital'].map(dicionario_classe_hospital)

In [22]:
tabela_variavel(variavel='Classe Hospital')

In [23]:
tabela_top5_por_variavel(variavel='Classe Hospital')

### Tabela 5 CIDs mais frequentes por classe de hospital

In [24]:
tabela_final_top5.index = range(1, tabela_final_top5.shape[0] + 1)
tabela_final_top5['Classe Hospital'] = tabela_final_top5['Classe Hospital'].map(dicionario_classe_hospital2)
tabela_final_top5

              Classe Hospital  CID  Frequência  % Relativa  % Geral
1   Hospitais Clínicos Adulto  L27          37        9.11     5.09
2   Hospitais Clínicos Adulto  L30          33        8.13     4.54
3   Hospitais Clínicos Adulto  B00          25        6.16     3.44
4   Hospitais Clínicos Adulto  B35          20        4.93     2.75
5   Hospitais Clínicos Adulto  C44          16        3.94     2.20
6         Hospital Pediátrico  L20          32       15.76     4.40
7         Hospital Pediátrico  L27          23       11.33     3.16
8         Hospital Pediátrico  L01          18        8.87     2.48
9         Hospital Pediátrico  B86          17        8.37     2.34
10        Hospital Pediátrico  L70          10        4.93     1.38
11      Hospital Ginecológico  L27          12       10.17     1.65
12      Hospital Ginecológico  L30           9        7.63     1.24
13      Hospital Ginecológico  L21           7        5.93     0.96
14      Hospital Ginecológico  L24           5        4.24     0.69
15      Hospital Ginecológico  C44           5        4.24     0.69

In [25]:
tabela_final_top5.to_excel("Tabela 5 maiores CIDs por Classes de Hospitais.xlsx")

***

# <font color=#3447C1 size=5> 5 FREQUÊNCIA DE CIDs POR FAIXA ETÁRIA </font>
***

### Idades por Faixa Etária
> Assim como no caso acima, a Faixa Etária não era um registro original do dataset e, portanto, foi preciso criar essa nova informação por meio da clusterização das idades registradas.

In [26]:
variavel = 'Idade (anos)'
# Criando variáveis que recebem a variável a ser analisada
hcid1 = dados[[f'CID 1', f'{variavel}']]
hcid1.rename(columns= {'CID 1':'CID'}, inplace=True)
hcid2 = dados[['CID 2', f'{variavel}']]
hcid2.rename(columns= {'CID 2':'CID'}, inplace=True)
hcid3 = dados[['CID 3', f'{variavel}']]
hcid3.rename(columns= {'CID 3':'CID'}, inplace=True)

# Concatenando as variáveis em um só DataFrame    
cid_por_variavel = pd.concat([hcid1, hcid2, hcid3], ignore_index=True)

# Retirada de valores nulos
cid_por_variavel.dropna(inplace=True)

# Retirada dos CIDs indefinidos
selecao = cid_por_variavel['CID'] == 'IND'
cid_por_variavel = cid_por_variavel[~selecao]

In [27]:
classes = [0, 1, 12, 18, 25, 35, 45, 55, 65, 85, 150]

In [28]:
labels = ['0 - 1', '2 - 12' , '13 - 18', '19 - 25', '26 - 35', '36 - 45', '46 - 55', '56 - 65', '66 - 85', '> 85']

In [29]:
cid_por_variavel['Faixa etária'] = pd.cut(x= cid_por_variavel['Idade (anos)'], 
       bins=classes, 
       labels=labels, 
       include_lowest=True)

In [30]:
cid_por_variavel = cid_por_variavel[['CID', 'Faixa etária']]

In [31]:
cid_por_variavel = cid_por_variavel.groupby('Faixa etária')['CID'].value_counts().to_frame()
cid_por_variavel.rename(columns={'CID':'Frequência'}, inplace=True)
cid_por_variavel.reset_index(inplace=True)

In [32]:
porcentagem_relativa = []
for x in range(cid_por_variavel.shape[0]):
    y = cid_por_variavel.iloc[x][0]
    n = ((cid_por_variavel.iloc[x][2] / cid_por_variavel[cid_por_variavel['Faixa etária'] == y]['Frequência'].sum()) * 100).round(2)
    porcentagem_relativa.append(n)

cid_por_variavel['% Relativa'] = porcentagem_relativa

In [33]:
porcentagem_geral = []
for x in range(cid_por_variavel.shape[0]):
    y = cid_por_variavel.iloc[x][0]
    n = ((cid_por_variavel.iloc[x][2] / cid_por_variavel['Frequência'].sum()) * 100).round(2)
    porcentagem_geral.append(n)
    
cid_por_variavel['% Geral'] = porcentagem_geral

In [34]:
# Criação do DataFrame final
tabela_final_top5 = pd.DataFrame()
for x in cid_por_variavel['Faixa etária'].unique():
    n = cid_por_variavel[cid_por_variavel['Faixa etária'] == x].head()
    tabela_final_top5 = tabela_final_top5.append(n)

tabela_final_top5 = tabela_final_top5[['Faixa etária', 'CID', 'Frequência', '% Relativa', '% Geral']]

In [35]:
tabela_final_top5.sort_values(by='Faixa etária', kind='stable', inplace=True)
tabela_final_top5.index = range(1, tabela_final_top5.shape[0] + 1)

### Tabela 5 CIDs mais frequentes por faixa etária

In [36]:
tabela_final_top5

   Faixa etária  CID  Frequência  % Relativa  % Geral
1         0 - 1  B86          11       16.67     1.51
2         0 - 1  L21           9       13.64     1.24
3         0 - 1  L20           7       10.61     0.96
4         0 - 1  D18           6        9.09     0.83
5         0 - 1  L01           6        9.09     0.83
6        2 - 12  L20          20       20.83     2.75
7        2 - 12  L27          12       12.50     1.65
8        2 - 12  L01          10       10.42     1.38
9        2 - 12  B86           6        6.25     0.83
10       2 - 12  L50           5        5.21     0.69
11      13 - 18  L27          12       21.82     1.65
12      13 - 18  L70           7       12.73     0.96
13      13 - 18  B00           6       10.91     0.83
14      13 - 18  L20           5        9.09     0.69
15      13 - 18  L01           3        5.45     0.41
16      19 - 25  L02           4       19.05     0.55
17      19 - 25  B08           2        9.52     0.28
18      19 - 25  B35           2        9.52     0.28
19      19 - 25  B00           1        4.76     0.14
20      19 - 25  B01           1        4.76     0.14
21      26 - 35  L27           7       15.22     0.96
22      26 - 35  L21           5       10.87     0.69
23      26 - 35  L30           3        6.52     0.41
24      26 - 35  B00           2        4.35     0.28
25      26 - 35  B97           2        4.35     0.28
26      36 - 45  L27           8       13.56     1.10
27      36 - 45  B00           5        8.47     0.69
28      36 - 45  L30           5        8.47     0.69
29      36 - 45  B35           4        6.78     0.55
30      36 - 45  L24           4        6.78     0.55
31      46 - 55  B00           6        9.23     0.83
32      46 - 55  L27           6        9.23     0.83
33      46 - 55  B35           5        7.69     0.69
34      46 - 55  L24           4        6.15     0.55
35      46 - 55  L40           4        6.15     0.55
36      56 - 65  L27          11        8.53     1.51
37      56 - 65  C44           9        6.98     1.24
38      56 - 65  L30           9        6.98     1.24
39      56 - 65  L40           7        5.43     0.96
40      56 - 65  B35           5        3.88     0.69
41      66 - 85  L30          19       10.98     2.61
42      66 - 85  L27          12        6.94     1.65
43      66 - 85  B00          11        6.36     1.51
44      66 - 85  B37           9        5.20     1.24
45      66 - 85  C44           8        4.62     1.10
46         > 85  C44           3       17.65     0.41
47         > 85  L27           3       17.65     0.41
48         > 85  L30           2       11.76     0.28
49         > 85  B36           1        5.88     0.14
50         > 85  B37           1        5.88     0.14

In [37]:
tabela_final_top5.to_excel("Tabela 5 maiores CIDs por Faixa etária.xlsx")

***

# <font color=#3447C1 size=5>  6 FREQUÊNCIA DE CLASSES DE CID POR CLASSES DE HOSPITAL </font>
***

In [38]:
def tabela_classe_variavel(variavel):

    global classes
    
    c1 = dados[['Classe de doença (CID1)', f'{variavel}']]
    c1.rename(columns={'Classe de doença (CID1)':'Classe'}, inplace=True)
    c2 = dados[['Classe de doença (CID2)', f'{variavel}']].dropna()
    c2.rename(columns={'Classe de doença (CID2)':'Classe'}, inplace=True)
    c3 = dados[['Classe de doença (CID3)', f'{variavel}']].dropna()
    c3.rename(columns={'Classe de doença (CID3)':'Classe'}, inplace=True)
    classes = pd.concat([c1,c2,c3])

    classes = classes.dropna()
    classes['Classe'] = classes['Classe'].astype(int)
    classes.index = range(classes.shape[0])

In [39]:
tabela_classe_variavel('Classe Hospital')

In [40]:
tabela_extensa_classes_hospitais = classes.copy()
tabela_extensa_classes_hospitais['Classe Hospital'] = tabela_extensa_classes_hospitais['Classe Hospital'].map(dicionario_classe_hospital2)
tabela_extensa_classes_hospitais.to_excel('Tabela extensa Classes por classes de hospitais.xlsx')

In [41]:
freq_obs = classes.groupby(['Classe', 'Classe Hospital']).size().unstack(1)
freq_obs.fillna(0, inplace=True)

### Tabela frequência de classes de CID por classe de hospital

In [42]:
freq_obs.columns.name = 'Classe Hospital'
freq_obs.columns = freq_obs.columns.map(dicionario_classe_hospital2)
freq_obs

Classe Hospital,Hospitais Clínicos Adulto,Hospital Pediátrico,Hospital Ginecológico
Classe,,,
1,20.0,23.0,4.0
2,6.0,4.0,2.0
3,120.0,77.0,44.0
4,17.0,3.0,4.0
5,4.0,10.0,2.0
6,6.0,0.0,0.0
7,15.0,21.0,12.0
8,52.0,6.0,15.0
9,20.0,4.0,4.0
10,101.0,43.0,15.0
11,20.0,1.0,8.0
12,16.0,5.0,0.0
13,3.0,0.0,5.0
14,6.0,0.0,3.0
15,0.0,6.0,0.0

In [43]:
freq_obs.to_excel('Tabela classes por Classes de Hospitais.xlsx')

In [44]:
freq_obs_norm = freq_obs.copy()

In [45]:
for x in freq_obs_norm.index:
    for y in freq_obs_norm.columns:
        freq_obs_norm[y][x] = ((freq_obs_norm[y][x] / freq_obs[y].sum()) * 100).round(2)

### Tabela porcentagem de classes de CID por classe de hospital

In [46]:
freq_obs_norm

Classe Hospital,Hospitais Clínicos Adulto,Hospital Pediátrico,Hospital Ginecológico
Classe,,,
1,4.93,11.33,3.39
2,1.48,1.97,1.69
3,29.56,37.93,37.29
4,4.19,1.48,3.39
5,0.99,4.93,1.69
6,1.48,0.00,0.00
7,3.69,10.34,10.17
8,12.81,2.96,12.71
9,4.93,1.97,3.39
10,24.88,21.18,12.71
11,4.93,0.49,6.78
12,3.94,2.46,0.00
13,0.74,0.00,4.24
14,1.48,0.00,2.54
15,0.00,2.96,0.00

In [47]:
freq_obs_norm.to_excel('Tabela classes por Hospitais Normalizada.xlsx')

***

# <font color=#3447C1 size=5>  7 CONSULTORIAS POR TRIMESTRE </font>
***

### Organizando os trimestres
> Foi necessário clusterizar a coluna "Data da Solicitação" de acordo com os trimestres do estudo, que se diferem dos semestres do ano e, por isso, foi necessário definir uma nova categorização de trimestre dentro do sistema e utilizou-se o <i>date_range</i> para delimitar os trimestres analisados pela pesquisa.

In [48]:
datas = dados_base[['Data da Solicitação', 'Status da consultoria']].sort_values('Data da Solicitação').reset_index(drop=True)

In [49]:
T1 = pd.date_range(start='8/1/2018', end='10/31/2018')
T2 = pd.date_range(start='11/1/2018', end='1/31/2019')
T3 = pd.date_range(start='2/1/2019', end='4/30/2019')
T4 = pd.date_range(start='5/1/2019', end='7/31/2019')
T5 = pd.date_range(start='8/1/2019', end='10/31/2019')
T6 = pd.date_range(start='11/1/2019', end='2/1/2020')

In [50]:
trimestre = [T1[0], T2[0], T3[0], T4[0], T5[0], T6[0], T6[-1]]

In [51]:
labels = ['Ago. 2018 - Out. 2018',
          'Nov. 2018 - Jan. 2019',
          'Fev. 2019 - Abr. 2019',
          'Mai. 2019 - Jul. 2019',
          'Ago. 2019 - Out. 2019',
          'Nov. 2019 - Jan. 2020']

In [52]:
datas['Trimestre'] = pd.cut(x=datas['Data da Solicitação'],
                            bins=trimestre,
                            labels=labels,
                            include_lowest=True)

In [53]:
datas.to_excel('Consultorias por data e trimestre.xlsx')

### Frequência de status das consultorias por trimestre

In [54]:
consultorias_trimestre = datas.groupby('Trimestre')['Status da consultoria'].value_counts().to_frame()
consultorias_trimestre.rename(columns={'Status da consultoria':'Frequência'}, inplace=True)
consultorias_trimestre

                                             Frequência
Trimestre             Status da consultoria
Ago. 2018 - Out. 2018 1                             104
                      3                              32
                      2                              27
Nov. 2018 - Jan. 2019 1                             101
                      2                              29
                      3                              25
Fev. 2019 - Abr. 2019 1                             107
                      2                              52
                      3                              29
Mai. 2019 - Jul. 2019 1                             110
                      3                              34
                      2                              33
Ago. 2019 - Out. 2019 1                             107
                      2                              39
                      3                              19
Nov. 2019 - Jan. 2020 1                             111
                      2                              36
                      3                              24

In [55]:
consultorias_trimestre.to_excel('Consultorias por trimestre.xlsx')

***

# <font color=#3447C1 size=5>  8 Tipo de tratamento prescrito </font>
***

### Verificar a frequência de cada tratamento
> Verificou-se a frequência de cada tratamento prescrito nas consultorias, bem como, no caso dos antibióticos, quais foram os remédios mais receitados.

In [56]:
def uso_remedio(x):    
    global uso_x
    
    dicionario = {1:'Sim', 2:'Não', 3:'Não'}
    uso_x = dados[x].map(dicionario).value_counts().to_frame().rename(columns={x:'Frequência'})
    uso_x.index.names = [f'Uso de {x}']
    uso_x['%'] = (dados[x].map(dicionario).value_counts(normalize=True) * 100).round(2)

### Frequência uso de antibiótico

In [57]:
uso_remedio('Antibiótico')
uso_x

                    Frequência      %
Uso de Antibiótico
Não                        564  87.99
Sim                         77  12.01

In [58]:
uso_x.to_excel('Uso de antibiótico.xlsx')

### Antibióticos prescritos

In [59]:
dicionario = {1:'Ácido fusídico (pomada / creme)',
                2:'Mupirocina (pomada / creme)',
                3:'Eritromicina (creme)',
                4:'Cefalexina (oral / endovenosa)',
                5:'Doxiciclina (oral) / Tetraciclina (oral)',
                6:'Clindamicina (creme / oral / endovenosa)',
                7:'Ciprofloxacino (colírio / oral)',
                8:'Oxacilina (endovenosa)',
                9:'Linezolida (endovenosa)',
                10:'Oxacilina (endovenosa) + cefalexina (oral)',
                11:'Oxacilina + clindamicina (endovenosa)',
                12:'Penicilina benzatina (intramuscular)',
                13:'Outros antibióticos'}

In [60]:
ant_presc = dados[dados['Antibiótico'] == 1]['Nome ATB'].astype(int).map(dicionario).value_counts().to_frame()
ant_presc.rename(columns={'Nome ATB':'Frequência'}, inplace=True)
ant_presc.index.names= ['Antibióticos prescritos']
ant_presc['%'] = (dados[dados['Antibiótico'] == 1]['Nome ATB'].astype(int).map(dicionario).value_counts(normalize=True) * 100).round(2)
ant_presc

                                            Frequência      %
Antibióticos prescritos
Cefalexina (oral / endovenosa)                      20  25.97
Mupirocina (pomada / creme)                         16  20.78
Oxacilina (endovenosa)                              13  16.88
Outros antibióticos                                  8  10.39
Clindamicina (creme / oral / endovenosa)             4   5.19
Eritromicina (creme)                                 3   3.90
Ciprofloxacino (colírio / oral)                      3   3.90
Oxacilina + clindamicina (endovenosa)                3   3.90
Ácido fusídico (pomada / creme)                      2   2.60
Penicilina benzatina (intramuscular)                 2   2.60
Oxacilina (endovenosa) + cefalexina (oral)           2   2.60
Linezolida (endovenosa)                              1   1.30

In [61]:
ant_presc.to_excel('Antibióticos prescitos.xlsx')

### Tabela geral de tratamentos prescritos

In [62]:
remedios = ['Antibiótico', 'Antifúngico', 'Corticoide', 'Hidratante', 'Antiviral ', 'Antiparasitário (Escabiose)']
usos = pd.DataFrame()
for x in remedios:
    dicionario = {1:'Sim', 2:'Não', 3:'Não'}
    uso_x = dados[x].map(dicionario).value_counts().to_frame()
    uso_x.loc['Uso'] = str(((uso_x.loc['Sim'][0] / (uso_x.loc['Não'][0] + uso_x.loc['Sim'][0])) * 100).round(2)) + '%'
    usos = usos.append(uso_x[x])
usos = usos.T

In [63]:
usos

,Antibiótico,Antifúngico,Corticoide,Hidratante,Antiviral,Antiparasitário (Escabiose)
Não,564.0,559.0,468.0,538.0,603.0,610.0
Sim,77.0,82.0,173.0,103.0,38.0,31.0
Uso,12.01%,12.79%,26.99%,16.07%,5.93%,4.84%

In [64]:
usos.to_excel('Tabela geral do uso de remédios.xlsx')

***

# <font color=#3447C1 size=5>  9 CIDs por tipo de infecção </font>
***

In [65]:
cids = cids.dropna().to_frame()

In [66]:
cids.rename(columns={0:'CID'}, inplace=True)

### Infecções Bacterianas

In [67]:
bacterianas = cids[(cids['CID'] == 'L00') | (cids['CID'] == 'L01') |
             (cids['CID'] == 'L02') | (cids['CID'] == 'L03') |
             (cids['CID'] == 'L04') | (cids['CID'] == 'L05') |
             (cids['CID'] == 'L08') | (cids['CID'] == 'A30') |
             (cids['CID'] == 'A46') | (cids['CID'] == 'A53') |
             (cids['CID'] == 'B92')]

bacterianas = bacterianas.value_counts().to_frame().rename(columns={0:'Frequência'})
bacterianas

     Frequência
CID
L01          25
L03          10
L02           7
A46           6
L08           4
L00           3
A30           1
A53           1

In [68]:
bacterianas.to_excel('cids bacterianas.xlsx')

### Infecções Virais

In [69]:
virais = cids[(cids['CID'] == 'B07') | (cids['CID'] == 'B97') |
             (cids['CID'] == 'B01') | (cids['CID'] == 'B02') |
             (cids['CID'] == 'B00') | (cids['CID'] == 'B08')]

virais = virais.value_counts().to_frame().rename(columns={0:'Frequência'})
virais

     Frequência
CID
B00          38
B02           7
B08           7
B07           6
B01           3
B97           3

In [70]:
virais.to_excel('cids virais.xlsx')

### Infecções Fungicas

In [71]:
fungicas = cids[(cids['CID'] == 'B37') | (cids['CID'] == 'B35') |
             (cids['CID'] == 'B36') | (cids['CID'] == 'B42')]

fungicas = fungicas.value_counts().to_frame().rename(columns={0:'Frequência'})
fungicas

     Frequência
CID
B35          26
B37          19
B36           9
B42           1

In [72]:
fungicas.to_excel('cids fungicas.xlsx')

### Infecções Parasitárias

In [73]:
parasitarias  = cids[(cids['CID'] == 'B85') | (cids['CID'] == 'B86') |
             (cids['CID'] == 'B87')]
parasitarias = parasitarias.value_counts().to_frame().rename(columns={0:'Frequência'})
parasitarias

     Frequência
CID
B86          28
B85           1
B87           1

In [74]:
parasitarias.to_excel('cids parasitarias.xlsx')